circle{
	fill: blue;
	stroke: pink;
	stroke-width: 1;
}

rect{
	fill: lightpink;
	stroke: blue;
	stroke-width: 1;
}

ellipse{
	fill: lightgreen;
	stroke: red;
	stroke-width: 0.25;
}

line{
	stroke: lightsteelblue;
	stroke-width: .5;
}

polygon{
	fill: yellow;
	stroke: orange;
	stroke-width: .25;
}

path{
	stroke: purple;
	stroke-width: 2;
}